@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border:none
}

#box {
	margin: auto;
	height: 768px;
	width: 1024px;
	background-image: url(../logobild/logo_hg.jpg);
	background-repeat: no-repeat;
	background-position: 50px -120px;
	border: 1px solid #CCC;
}
#box #logobereich {
	border-bottom: 1px solid #CCC;
	background-color: #FFF;
	text-align: center;
}
#box #navibereich {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
#box #inhaltsbereich {
	height: 600px;
}
#box #footerbereich {
	text-align: center;
	background-color: #999;
	padding-top: 10px;
	padding-bottom: 10px;
}
